<!DOCTYPE html>
<html>
    <head>
        <title>List of Employees</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
		<!-- Navbar with Home button and Add Employee/Dependent button -->
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <a class="btn btn-outline-primary btn-md" href="/">Home</a>
			
			  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
			      </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0" style="padding-right:10px;">
			      <a class="btn btn-outline-success my-2 my-sm-0" href="/addDep">Add Dependent</a>
			    </form>
			    <form class="form-inline my-2 my-lg-0">
			      <a class="btn btn-outline-success my-2 my-sm-0" href="/addEmp">Add Employee</a>
			    </form>
			  </div>
			</nav>
		</div>

        <div class="container">
            <h2 th:text="'List of Dependents for SSN = ' + ${empSsn}"></h2>
			
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Relationship</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dep: ${allDeps}">
						<td th:text="${dep.id}"></td>
						<td th:text="${dep.middleInitial} ? ${dep.firstName} + ' ' + ${dep.middleInitial} + ' ' 
						            + ${dep.lastName} : ${dep.firstName} + ' ' + ${dep.lastName}" ></td>
						<td th:text="${dep.relationship}"></td>
						<td>
 							<a th:href="@{/updateDep/depId={id}(id=${dep.id})}" class="btn btn-outline-warning my-2 my-sm-0">Update</a>
							<a th:href="@{/deleteDep/depId={id}/empSsn={ssn}(id=${dep.id},ssn=${empSsn})}" class="btn btn-outline-danger my-2 my-sm-0">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </body>
</html>