<!DOCTYPE html>
<html>
    <head>
        <title>Update Dependent</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
		<!-- Navbar with Home button and Add Employee/Dependent button -->
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <a class="btn btn-outline-primary btn-md" href="/">Home</a>
			
			  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
			      </li>
			    </ul>
			    <form class="form-inline my-2 my-lg-0" style="padding-right:10px;">
			      <a class="btn btn-outline-success my-2 my-sm-0" href="/addDep">Add Dependent</a>
			    </form>
			    <form class="form-inline my-2 my-lg-0">
			      <a class="btn btn-outline-success my-2 my-sm-0" href="/addEmp">Add Employee</a>
			    </form>
			  </div>
			</nav>
		</div>
		
		<!-- Add new Favorite Song -->
		<div class="container">
			<h5>Update Employee Information</h5>
			<form action="/updateEmpDetails" name="emp" method="post">
			  <div class="form-group row">
				    <label for="name"  class="col-sm-2 col-form-label">SSN</label>
				    <input type="text" name="ssn" th:value="${emp.ssn}" readonly>
			  </div>
			  <div class="form-group row">
					  <label for="artist" class="col-sm-2 col-form-label">First Name</label>
					  <input type="text" name="firstName" th:value="${emp.firstName}? ${emp.firstName}" required>
			  </div>
			  <div class="form-group row">
					  <label for="genres" class="col-sm-2 col-form-label">Middle Initial</label>
					  <input type="text" name="middleInitial" th:value="${emp.middleInitial}? ${emp.middleInitial}">
			  </div>
			  <div class="form-group row">
					  <label for="genres" class="col-sm-2 col-form-label">Last Name</label>
					  <input type="text" name="lastName" th:value="${emp.lastName}? ${emp.lastName}" required>
			  </div>
			  <div class="form-group row">
					  <label for="genres" class="col-sm-2 col-form-label">DOB</label>
					  <input type="date" name="dob" th:value="${emp.dob}? ${emp.dob}">
			  </div>
			  <div class="form-group row">
					  <label for="genres" class="col-sm-2 col-form-label">Salary</label>
					  <input type="number" name="salary" th:value="${emp.salary}? ${emp.salary}" required>
			  </div>
			  <div class="form-group row">
					  <label for="genres" class="col-sm-2 col-form-label">Address</label>
					  <input type="text" name="address" th:value="${emp.address}? ${emp.address}">
			  </div>
			  <button type="submit" class="btn btn-primary">Update</button>
			</form>
		 </div>
    </body>
</html>